{
  "language": "typescript",
  "app": "null",
  "projectId": "{{{projectId}}}",
  "sendCrashReports": "false",
  "terraformProviders": [
    "auth0/auth0@~> 1.2"
  ],
  "terraformModules": [],
  "context": {}
}
